.button {
  display: block;
    margin: var(--rem-sm);
  padding: var(--rem-xmd);
  border-radius: 20px;
  font-size: var(--clamp-txt);
  transition: 0.3s;
  background-color: var(--text-color);
  color: var(--bg-color);
  text-decoration: none;
  border: 2px solid var(--bg-color);
}

.button:hover {
    background-color: var(--bg-color);
    color: var(--text-color);
    transform: scale(1.05)
}