.header {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	&__text {
		padding-top: var(--rem-md);
		padding-bottom: var(--rem-md);
		font-size: clamp(1rem, 1.8rem + 1vw, 4rem);

		&--opportunities {
			display: flex;
			align-items: center;;
		}
	}

	&__hero {
		&-container {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
		}

		&-img {
			padding: var(--rem-md);
			max-width: 100%;
			max-height: 800px;
		}
	}

	&__ctas {
		display: flex;
		padding-top: var(--rem-xlg);
	}

}

@media (min-width: 992px) {
	.header {
		display: grid;
		grid-template-columns: 1fr auto;

		&__ctas {
			margin-top: var(--rem-xlg)
		}
	}
}

.circle {
	padding: var(--rem-md);
	background-color: var(--secondary-color);
	border-radius: 100%;
}

.bx-briefcase-alt-2 {
		margin: var(--rem-sm);
}