.contact {
	&__content {
		display: grid;
		grid-template-columns: 1fr;

		&__links {
			display: flex;
			justify-content: center;
			flex-direction: column;
		}

		&__link {
			margin: var(--rem-md)
		}
	}

	&__image {
		padding: var(--rem-md);
		max-width: 100%;
		max-height: 800px;
		width: auto;
		height: auto;
	}

}

@media (min-width: 992px) {
	.contact {
		&__content {
			display: grid;
			grid-template-columns: 1fr auto;
		}
	}
}