.fallingAnimation {
	position: fixed;
	display: grid;
	justify-items: center;
	width: 100%;
	grid-template-columns: repeat(4, 1fr);
	top:0;
	min-height: 100vh;
	height: 100vh;
	z-index: -1000;
	background-color: var(--primary-color);
}

.leaf {
	position: relative;
	opacity: 0.3;
	color: var(--bg-color);
	font-size: clamp(2rem, 2.5rem + 1vw, 4rem);
	transform-origin: center;
	display: block;

}

.leaf__1 {
	animation: fall 12s infinite linear;
}

.leaf__2 {
	animation: fall 17s infinite linear;
}

.leaf__3 {
	animation: fall 20s infinite linear;
}

.leaf__4 {
	animation: fall 15s infinite linear;
}

@keyframes fall {
	0% {
		transform: translateX(0) translateY(0) rotate(0);
	}

	25% {
		transform: translateX(10px) translateY(25vh) rotate(45deg);
	}

	50% {
		transform: translateX(-10px) translateY(50vh) rotate(60deg);
	}

	75% {
		transform: translateX(10px) translateY(75vh) rotate(45deg);
	}

	90% {
		transform: translateX(-10px) translateY(100vh) rotate(60deg);
	}

	100% {
		transform: translateX(10px) translateY(120vh) rotate(45deg);
	}
}