.projects {
	&__cards {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: var(--rem-lg) 0;
	}

	.card {
		display: flex;
		flex-direction: column;
		padding: var(--rem-md) var(--rem-md);
		width: 100%;
		border-radius: 20px;
		overflow: hidden;
		background-color: var(--card-bg-color);

		&__title {
			padding: var(--rem-sm) 0;
		}

		&__img {
			width: 100%;

			max-height: 400px;
			object-fit: cover;

			&__container {
				width: 100%;
				min-height: 100px;
				max-height: 400px;
				background: transparent;
				transition: 0.3s;
			}
		}

		&__text {
			padding: var(--rem-sm) 0;
			font-size: var(--clamp-txt);
			line-height: var(--rem-lg);
		}


		&__skills {
			&-container {
				padding: var(--rem-xsm);
				display: flex;
				align-items: flex-start;
				flex-wrap: wrap;
				gap: 8px;
			}
		}

		&__skill {
			display: flex;
			align-items: center;
			padding: var(--rem-md);
			background-color: var(--card-tools);
			border-radius: 20px;
			font-size: var(--clamp-txt);

			&__icon {
				font-size: var(--clamp-txt);
			}
		}

		&__btn {
			margin: var(--rem-xmd) 0;
			padding: var(--rem-sm);
			border-radius: 20px;
			font-size: var(--clamp-txt);
			transition: 0.3s;

			&:hover {
				background-color: var(--secondary-color);
				color: var(--text-color);
			}

			&-container {
				margin-top: auto;
				padding: var(--rem-xsm) 0;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}

}


@media(min-width:700px) {
	.projects {
		&__cards {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: auto;
			align-items: stretch;
			gap: var(--rem-lg);
		}
	}
}


@media (min-width: 992px) {
	.projects {
		&__cards {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: auto;
			align-items: stretch;
			gap: var(--rem-md);
		}
	}
}